.card {
    box-sizing: content-box;
    text-align: center;
    vertical-align: center;
    height: 20%;
    width: 15%;

}
  
.hedding {
    margin-bottom: 1px;
}
.transcription {
    color: grey;
}
.translate {
    margin: 0px 15px 10px 15px;
}