.card {
    box-sizing: content-box;
    text-align: center;
    height: 200px;
    width: 15%;
    background-color: rgb(251, 251, 251);
    border-radius: 15px 50px;

}
  
.hedding {
    padding-top: 30px;
    margin-bottom: 1px;
}
.transcription {
    color: grey;
}
.translate {
    margin: 0px 15px 10px 15px;
}
.russian {
    color: green;
    font-weight: bold;
}